body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }

  .about-us {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow:  black;
  }
  
  h1, h2, h3 {
    color: purple; /* Purple */
  }
  
  p {
    color: black;
    margin-bottom: 20px;
  }
  
  img {
    width: 800px;
    height: 500px;
    
    border-radius: 5px;
    
    border-style: solid;
    border-width: 5px;
    border-color:rgb(235, 129, 187) purple;
  }
  
  .team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .team-member {
    margin: 20px;
    text-align: center;
    background-color: #FFC5C5; /* Light Pink */
    padding: 20px;
    border-radius: 10px;
  }
  
  .team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .testimonial-section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    
    
    
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .testimonial {
    margin-bottom: 20px;
  }
  
  .testimonial img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .star {
    font-size: 24px;
    color:purple;
    cursor: pointer;
  }
  
  
  

  
  



footer {
	background-color: #FFC5C5; /* pink */
	padding: 20px;
	text-align: center;
}

footer .footer-content {
	margin: 0 auto;
	width: 80%;
  
}

.social-media {
	margin-bottom: 10px;
}

.social-media a {
	margin: 0 10px;
}

.social-media img {
	width: 50px;
	height: 30px;
  border-style: none;
}

footer p {
	color: #7A288A; /* purple */
}
.footer {
  background-color: #ffc5c5;
  color: black;
  padding: 40px ;
  text-align: center;
}
.ama{
  display: flex;
  padding-left: 25px;
  

}


.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 20px;
  flex: 1;
  min-width: 200px;
  padding-top: 10px;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color:black;
}

.footer-section p {
  font-size: 1rem;
  line-height: 1.5;
}

.footer-section a {
  color: purple;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}




.footer-bottom p {
  margin: 0;
}



@media (min-width: 350px) and (max-width: 1000px) {
  body {
    margin: 0;
  }

  .nav_link {
    font-size: 10px;
  }

  .nav_sec {
    font-size: 10px;
    top: 6px;
  }

  .nav__logo,
  .spa,
  .wor {
    display: none;
  }

  .div {
    width: 90%;
    height: 400px;
    font-size: 12px;
  }

  .footer {
    width: 100%;
    font-size: 12px;
  }
}

  
  

  